.modal .modal-huge {
  max-width: 85%;
}
.modal .modal-smed {
  max-width: 360px;
  width: 360px;
}
.modal .modal-log {
  max-width: 80%;
  width: 80%;
}

.modal .modal-reg {
  max-width: 50%;
  width: 50%;
}
